<div class="container">
  <div class="col-sm-6">
    <form [formGroup]="group">
      <mat-form-field>
        <mat-label>Start DateTime</mat-label>
        <mat-datetimepicker-toggle
          [for]="datetimePicker"
          matSuffix
        ></mat-datetimepicker-toggle>
        <mat-datetimepicker
          #datetimePicker
          type="datetime"
          openOnFocus="true"
          timeInterval="5"
          mode="portrait"
        ></mat-datetimepicker>
        <input
          matInput
          formControlName="datetimeCtrl"
          [matDatetimepicker]="datetimePicker"
          required
          autocomplete="false"
        />
      </mat-form-field>
    </form>
  </div>
</div>
